<br>
<span class="ml-2 mt-2" style="color: #ffffff; font-size:1.5rem; font-weight:600;">
   Top rated
</span>

               <div class="list" style="display:flex;   flex-wrap: wrap; justify-content:space-between;">
                  
                   {{#each toprate}}
            <div class="film-card-container" style="margin:0.5rem 0.2rem;" >
                <!-- MOVIE ITEM -->
                <div class="film-card">
                    <a href="/watch?id={{this.id}}">
                          <img src='https://image.tmdb.org/t/p/original/{{this.poster_path}}' alt="" style="width:17rem; height:23rem;">
                         
                    </a>
                  
                    {{!-- <div >
                        <div style="color: #ffffff;">
                           {{this.title}}
                        </div>
                      
                    </div> --}}
                </div>
                {{!-- <span style="color:#ffffff; position:absolute; width:20%; text-align:center;">{{this.title}}</span> --}}
            </div> {{/each}}
               </div>

               <div id="pagenumber" style="display:flex; justify-content:center; margin-top:3rem; ">
                   <a class="tagname" href="/toprated?page=1">1</a>
                   <a class="tagname" href="/toprated?page=2">2</a>
                   <a class="tagname" href="/toprated?page=3">3</a>
                   <a class="tagname" href="/toprated?page=4">4</a>
                   <a class="tagname" href="/toprated?page=5">5</a>
                   <a class="tagname" href="/toprated?page=6">6</a>
                   <a class="tagname" href="/toprated?page=7">7</a>
                   <a class="tagname" href="/toprated?page=8">8</a>
                   <a class="tagname" href="/toprated?page=9">9</a>
                   <a class="tagname" href="/toprated?page=10">10</a>
               </div>


<style>
#pagenumber a{
 color: #f8f8f8;
 margin: 0 1rem;
 padding: 0 0.4rem;
}
.yellow {
    border: 2px solid rgba(255, 223, 40, 0.904);
    border-radius:3px;
  
}
.film-card img{
    transition: transform 0.3s linear;
}
.film-card:hover img {
    transform: scale(1.2);
}
@media only screen and (max-width: 480px) {
    
 html {
     font-size:9px;
 }
.film-card-container{
    width: 48% !important;
    
      

}
.list{
        display:flex;
    
        margin:1px;
    }
    .film-card{
         max-width: 100% !important;
         flex-basis: 50% !important;
         flex-grow: 5 !important;
    }
   .posters{
       
   }
    .film-card img{
         margin-top: 1rem;
      width: 100% !important;
      height:30rem !important;
     }
}
</style>

<script>
    const page = {{page}}
  
    const plist = document.getElementsByClassName('tagname')
    plist[page-1].classList.add('yellow')

</script>