
<div > 
    <div  style="margin: 1rem auto;   width:50rem; height:30rem;">
        <iframe  id="iframe" style="display:block; width: 100%; height:100%; margin: 1rem auto; " src="{{url}}" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div style="color:white; width:50rem;margin: 1rem auto; background-color: rgb(27, 27, 27); padding:0.5rem; box-sizing: border-box;">
<h3 style="margin-bottom:1rem; color:rgb(255, 235, 52);">{{details.original_title}}</h3>
<div style="color:white; font-size:1rem;">
     <h5 style="font-weight: 400;"> <span style="font-weight:700;">Overview:   </span>  {{details.overview}}</h5>
    <h5 style="font-weight: 400;"> <span style="font-weight:700;">Ngày ra mắt:  </span> {{details.release_date}}</h5>
    <h5 style="font-weight: 400;"> <span style="font-weight:700;"> Điểm số:   </span>  {{details.vote_average}}</h5>
</div>
   
</div>
</div>
<br>
<span class="ml-2 mt-2" style="color: #ffffff; font-size:1.5rem; font-weight:600; margin-top:10rem;">
   Có thể bạn cũng muốn xem 
</span>

               <div class="list" style="display:flex;   flex-wrap: wrap; justify-content:space-between;">
                  
                   {{#each similar}}
            <div class="film-card-container" style="margin:0.5rem 0.5rem;" >
                <!-- MOVIE ITEM -->
                <div class="film-card">
                    <a href="/watch?id={{this.id}}">
                          <img src='https://image.tmdb.org/t/p/original/{{this.poster_path}}' alt="" style="width:17rem; height:23rem;">
                         
                    </a>
                  
                    {{!-- <div >
                        <div style="color: #ffffff;">
                           {{this.title}}
                        </div>
                      
                    </div> --}}
                </div>
                {{!-- <span style="color:#ffffff; position:absolute; width:20%; text-align:center;">{{this.title}}</span> --}}
            </div> {{/each}}
               </div>
<style>

@media only screen and (max-width: 1280px) {
    html {
        font-size: 10px;
    }
 
    
    }
    @media only screen and (max-width: 850px) {
    html {
        font-size: 7px;
    }
    .list{
        flex-wrap: wrap;
    }
   


    }

{{!-- @media only screen and (max-width: 480px) {
    html {
        font-size: 3px;
    }
    .list{
        flex-wrap: wrap;
    }
     .film-card img{
         width: 200rem;
     }
    
    } --}}
    {{!-- @media (max-width: 480px) {
  .list{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .film-card img{
         margin-top: 1rem;
         width:40rem;
         height:70rem;
     }
} --}}
@media only screen and (max-width: 480px) {
    

.film-card-container{
    width: 48% !important;
    
      

}
.list{
        display:flex;
    
        margin:1px;
    }
    .film-card{
         max-width: 100% !important;
         flex-basis: 50% !important;
         flex-grow: 5 !important;
    }
   .posters{
       
   }
    .film-card img{
         margin-top: 1rem;
      width: 100% !important;
      height:30rem !important;
     }
}
</style>
<script>
   
</script>