<script data-cfasync="false" type="text/javascript" src="//buzzonclick.com/a/display.php?r=5660858"></script>
<div > 
    <div class="lock"  style="margin: 1rem auto;   width:60rem; height:35rem;">
        <iframe  id="iframe" style="display:block; width: 100%; height:100%; margin: 1rem auto; " src="{{url}}" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="lock"  style="color:white; width:60rem;margin: 1rem auto; background-color: rgb(27, 27, 27); padding:0.5rem; box-sizing: border-box;">
<h3 style="margin-bottom:1rem; color:rgb(238, 186, 44);">{{vietnamese.title}}</h3>
<div style="color:white; font-size:1rem;">
     <h5 style="font-weight: 400;"> <span style="font-weight:700;">Tổng quan:   </span>  {{vietnamese.overview}}</h5>
    <h5 style="font-weight: 400;"> <span style="font-weight:700;">Ngày ra mắt:  </span> {{details.release_date}}</h5>
    <h5 style="font-weight: 400;"> <span style="font-weight:700;"> Điểm số:   </span>  {{details.vote_average}}</h5>
</div>
   
</div>
</div>
<div style="width:100%; text-align:center">
    <div   style="background-color:white;  width:60rem;" class="fb-comments lock" data-href="https://webphim1.herokuapp.com/watch?id={{details.id}}" data-colorscheme="dark"  data-width="800" data-numposts="5"></div>
</div>

<br>
<br>
<span id="more" class="ml-2 mt-2" style="color: #ffffff; font-size:1.5rem; font-weight:600; margin-top:10rem;">
   Có thể bạn cũng muốn xem 
</span>

               <div class="list" style="display:flex; margin:0;  flex-wrap: wrap; justify-content:space-between;">
                  

                   {{#each similar}}
            <div class="film-card-container" style="margin:0.5rem 0.5rem; position:relative;" >
                <!-- MOVIE ITEM -->
                <div class="film-card">
                    <a href="/watch?id={{this.id}}">
                          <img src='https://image.tmdb.org/t/p/original/{{this.poster_path}}' alt="" style="position:relative; width:17rem; height:23rem;">
                          <div style="width:100%; position:absolute; top:-0.9rem;"> <h5 class="score" style="margin: 0 auto; width:2.2rem; height:1.7rem; border-radius:40%; text-align:center; background-color:#f9fd18; color:rgb(36, 36, 36); z-index:3;  box-sizing:border-box; font-weight:700;   font-size:0.8rem; padding-top: 0.425rem; ">{{this.vote_average}}</h5>  </div>   
                           
                   <div class="titleLe" style="position:absolute; color:rgb(255, 217, 0); text-align:center; top: 0px;  z-index:3; height:100%; width:100%; transition-delay: 2s; font-weight:700; padding:0.2rem 0.5rem; box-sizing:border-box;">
                              <h5  class="tenphim">  {{this.title}}  </h5>
                              <div class="dropdown-divider" style="width:50%; margin: 0 auto;"></div>
                              <h6 class="detailsize" style="font-size:0.8rem; font-weight:400; color:rgb(241, 241, 241); margin-top:1rem;" ><span class="bold">IMDB rate: </span>{{this.vote_average}}</h6>
                              <h6 class="detailsize" style="font-size:0.8rem; font-weight:400; color:rgb(241, 241, 241); " ><span class="bold">Release Date: </span> {{this.release_date}}</h6>
                              <h6  class="detailsize textlimit" style="font-size:0.8rem; font-weight:400; color:rgb(241, 241, 241); margin-top:1rem;" ><span class="bold">Overview: </span> {{this.overview}}</h6>
                           </div>
                    {{!-- <div >
                        <div style="color: #ffffff;">
                           {{this.title}}
                        </div>
                      
                    </div> --}}
                </div>
                {{!-- <span style="color:#ffffff; position:absolute; width:20%; text-align:center;">{{this.title}}</span> --}}
            </div> {{/each}}
               </div>
<style>
     .titleLe{
         display: none;
         transition-delay: 2s;
         background-color:rgba(0, 0, 0, 0.8);
     }
 .titleLe:hover{
      transition-delay: 2s;
 }
 .film-card:hover .titleLe{
    transform: scale(1.2);
     transition-delay:1s;
    display:block;
    {{!-- background-color: rgb(255, 208, 0) ; --}}
   
}
.film-card:hover img {
    transform: scale(1.2);
    z-index: 1;
}
.film-card img{
    transition: transform 0.3s linear;
}
@media only screen and (max-width: 1280px) {
    html {
        font-size: 10px;
    }
 
    
    }
    @media only screen and (max-width: 850px) {
    html {
        font-size: 7px;
    }
    .list{
        flex-wrap: wrap;
    }
   


    }

{{!-- @media only screen and (max-width: 480px) {
    html {
        font-size: 3px;
    }
    .list{
        flex-wrap: wrap;
    }
     .film-card img{
         width: 200rem;
     }
    
    } --}}
    {{!-- @media (max-width: 480px) {
  .list{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .film-card img{
         margin-top: 1rem;
         width:40rem;
         height:70rem;
     }
} --}}
@media only screen and (max-width: 480px) {
    

.film-card-container{
    width: 48% !important;
    
      

}
.list{
        display:flex;
    
        margin:1px;
    }
    .film-card{
         max-width: 100% !important;
         flex-basis: 50% !important;
         flex-grow: 5 !important;
    }
    #more{
        font-size:2rem !important;
    }
   .posters{
       
   }
    .film-card img{
       
      width: 100% !important;
      height:37rem !important;
     }
     .lock{
         width: 100% !important;
     }
}
</style>
<script>
   
</script>